@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark horizontal scrollbar */
.scrollbar-dark::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #1f2937; /* gray-800 */
  border-radius: 999px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* blue-600 */
}

/* Firefox */
.scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: #1f2937 transparent;
}
